<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="home">
      <div class="div">
        <header class="header">
          <div class="group">
            <img class="img" src="img/group-1.png" />
            <div class="text-wrapper">Secure Aid</div>
          </div>
          <div class="container">
            <img class="search-orange-svg" src="img/search-orange-svg.svg" />
            <div class="link"><div class="donate-to-projects">DONATE TO PROJECTS</div></div>
          </div>
          <div class="nav">
            <div class="div-wrapper"><div class="text-wrapper-2">About</div></div>
            <div class="link-2"><div class="text-wrapper-3">Nonprofits</div></div>
            <div class="link-3"><div class="text-wrapper-4">Companies</div></div>
            <div class="link-4"><div class="text-wrapper-5">Disasters</div></div>
            <div class="link-5"><div class="text-wrapper-6">Blog</div></div>
          </div>
          <img class="link-6" src="img/link.svg" />
          <div class="horizontal-divider"><div class="separator"></div></div>
        </header>
        <div class="section-wrapper">
          <div class="section">
            <div class="form">
              <div class="overlap">
                <div class="help-center-wrapper"><div class="help-center">HELP CENTER</div></div>
                <div class="input">
                  <div class="container-2"><div class="text-wrapper-7">Yusuf Molumo</div></div>
                </div>
              </div>
              <img class="group-2" src="img/group-1-1.png" />
              <div class="container-wrapper">
                <input class="container-3" placeholder="ykmolumo@gmail.com" type="email" />
              </div>
              <div class="input-2">
                <div class="container-4"><div class="text-wrapper-8">location unknown</div></div>
              </div>
              <div class="overlap-group-wrapper">
                <div class="overlap-group">
                  <div class="border"></div>
                  <div class="link-paints"></div>
                  <div class="edit-info">EDIT INFO</div>
                </div>
              </div>
            </div>
            <div class="link-7">
              <div class="background"><div class="border-2"></div></div>
              <div class="my-account">MY ACCOUNT</div>
            </div>
            <div class="link-8">
              <div class="background-2"></div>
              <div class="donations">DONATIONS</div>
            </div>
            <div class="link-9">
              <div class="background-3"></div>
              <div class="favorites">FAVORITES</div>
            </div>
            <div class="link-10">
              <div class="background-4"></div>
              <div class="fundraisers">FUNDRAISERS</div>
            </div>
            <div class="link-11">
              <div class="background-3"></div>
              <div class="text-wrapper-9">API</div>
            </div>
            <div class="background-border">
              <img class="image" src="img/image.png" />
              <p class="make-a-bigger-impact">
                Make a bigger impact on more<br />projects with our Project of the<br />Month Club
              </p>
              <div class="link-12">
                <div class="border-3"></div>
                <div class="join-the-club">JOIN THE CLUB</div>
              </div>
            </div>
            <div class="background-border-2">
              <div class="heading-monthly">Monthly Donations</div>
              <div class="separator-2"></div>
              <p class="you-currently-do-not">
                You currently do not have a monthly donation. If you would like to support a project on a monthly<br />basis,
                first find a project, then choose the &#34;monthly&#34; option at checkout.
              </p>
              <div class="link-13">
                <div class="border-4"></div>
                <div class="find-a-project">FIND A PROJECT</div>
              </div>
            </div>
            <div class="background-border-3">
              <div class="heading-recent">Recent Donations</div>
              <div class="separator-2"></div>
              <p class="you-have-not-donated">
                You have not donated to a project yet. If you would like to support a project, explore our projects<br />by
                theme and location, and find the one that speaks to your heart.
              </p>
              <div class="link-13">
                <div class="border-4"></div>
                <div class="find-a-project">FIND A PROJECT</div>
              </div>
            </div>
            <div class="background-border-4">
              <div class="heading-saved">Saved Payment Method</div>
              <p class="p">
                You currently do not have a saved payment method. To save a credit card for faster checkout, find<br />a
                project to which you&#39;d like to donate, and at checkout choose &#34;Remember this card&#34; below
                your<br />payment information.
              </p>
              <div class="link-14">
                <div class="border-4"></div>
                <div class="find-a-project">FIND A PROJECT</div>
              </div>
            </div>
            <div class="background-border-5">
              <div class="heading-email">Email Settings</div>
              <div class="separator-2"></div>
              <div class="link-15">
                <div class="border-5"></div>
                <div class="edit-email">EDIT EMAIL PREFERENCES</div>
              </div>
              <div class="link-16">
                <div class="overlap-group-2">
                  <div class="border-6"></div>
                  <div class="link-paints-2"></div>
                  <div class="unsubscribe">UNSUBSCRIBE</div>
                </div>
              </div>
            </div>
            <div class="form-wrapper">
              <div class="form-2">
                <div class="heading-reset">Reset Password</div>
                <div class="separator-3"></div>
                <p class="to-change-your">
                  To change your password below, simply enter your new password twice. Password must be<br />between
                  8-20 characters long.
                </p>
                <div class="label-new-password">NEW PASSWORD</div>
                <div class="input-3"></div>
                <div class="label-repeat-new">REPEAT NEW PASSWORD</div>
                <div class="input-4"></div>
                <button class="button">
                  <div class="overlap-group-3">
                    <div class="background-5"></div>
                    <div class="border-7"></div>
                    <div class="button-paints"></div>
                    <div class="save">SAVE</div>
                  </div>
                </button>
              </div>
            </div>
            <div class="delete-my-account-wrapper"><div class="delete-my-account">DELETE MY ACCOUNT</div></div>
            <div class="overlap-wrapper">
              <div class="overlap-2">
                <div class="border-6"></div>
                <div class="link-paints-3"></div>
                <div class="request-my-data">REQUEST MY DATA</div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer">
          <div class="background-6">
            <div class="container-5">
              <div class="group-3">
                <img class="group-4" src="img/group-1-2.png" />
                <div class="text-wrapper-10">Secure Aid</div>
              </div>
              <p class="secure-aid-makes-it">
                Secure Aid makes it easy and safe for you to give to local projects<br />anywhere in the world, while
                providing nonprofits with the tools,<br />training, and support they need to thrive.
              </p>
              <div class="link-17">
                <div class="overlap-group-4">
                  <div class="border-8"></div>
                  <div class="link-paints-4"></div>
                  <div class="help-center-2">HELP CENTER</div>
                </div>
              </div>
            </div>
            <div class="horizontal-divider-2"></div>
            <div class="nav-2">
              <div class="heading-link"><div class="text-wrapper-11">Donors</div></div>
              <div class="link-18"><div class="text-wrapper-12">Donate in Honor</div></div>
              <div class="link-19"><p class="text-wrapper-13">Project of the Month Club</p></div>
              <div class="link-20"><div class="text-wrapper-14">Start a Fundraiser</div></div>
              <div class="heading-link-2"><div class="text-wrapper-15">Nonprofits</div></div>
              <div class="link-21"><div class="text-wrapper-16">Start an Application</div></div>
              <div class="link-22"><div class="text-wrapper-17">Why Join?</div></div>
              <div class="link-23"><div class="text-wrapper-18">Handbook</div></div>
              <div class="pricing-fees-wrapper"><div class="pricing-fees">Pricing &amp; Fees</div></div>
              <div class="heading-link-3"><div class="text-wrapper-19">Companies</div></div>
              <div class="link-24"><div class="text-wrapper-20">Our Services</div></div>
              <div class="link-25"><div class="text-wrapper-21">Our Partners</div></div>
              <div class="link-26"><div class="text-wrapper-22">Corporate Gift Cards</div></div>
              <div class="link-27"><div class="text-wrapper-23">GlobalGiving Atlas</div></div>
              <div class="heading-link-4"><div class="text-wrapper-24">About Us</div></div>
              <div class="link-28"><div class="text-wrapper-25">Our Team</div></div>
              <div class="link-29"><div class="text-wrapper-26">Jobs</div></div>
              <div class="link-30"><div class="text-wrapper-27">FAQs</div></div>
              <div class="link-31"><div class="text-wrapper-28">Contact Us</div></div>
              <div class="heading-link-5"><div class="text-wrapper-29">Learn Library</div></div>
              <div class="link-32"><div class="text-wrapper-30">Nonprofit Resources</div></div>
              <div class="link-33"><div class="text-wrapper-31">Corporate Giving Resources</div></div>
              <div class="link-34"><div class="text-wrapper-32">Donor Resources</div></div>
              <div class="link-35"><div class="text-wrapper-33">Success Stories</div></div>
            </div>
            <div class="horizontal-divider-3"></div>
          </div>
          <div class="background-7">
            <div class="container-6">
              <div class="address">
                <div class="overlap-group-5">
                  <div class="text-wrapper-34">© Copyright 2024 Secure Aid</div>
                  <div class="link-36"><div class="text-wrapper-35">Contact Us</div></div>
                </div>
              </div>
              <div class="overlap-3">
                <div class="text-wrapper-36"> ·</div>
                <div class="privacy-wrapper"><div class="privacy">PRIVACY</div></div>
              </div>
              <div class="overlap-4">
                <div class="text-wrapper-36"> ·</div>
                <div class="cookies-wrapper"><div class="cookies">COOKIES</div></div>
              </div>
              <div class="overlap-5">
                <div class="text-wrapper-36"> ·</div>
                <div class="terms-wrapper"><div class="terms">TERMS</div></div>
              </div>
              <div class="overlap-6">
                <div class="text-wrapper-36"> ·</div>
                <div class="pricing-wrapper"><div class="pricing">PRICING</div></div>
              </div>
              <div class="overlap-7">
                <div class="text-wrapper-36"> ·</div>
                <div class="link-37"><div class="text-wrapper-37">API</div></div>
              </div>
              <div class="overlap-8">
                <div class="text-wrapper-36"> ·</div>
                <div class="data-wrapper"><div class="data">DATA</div></div>
              </div>
              <div class="options">
                <div class="container-7"><div class="text-wrapper-38">$ USD</div></div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
