<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="donate">
      <div class="div">
        <header class="header">
          <div class="group">
            <img class="img" src="img/group-1.png" />
            <div class="text-wrapper">Secure Aid</div>
          </div>
          <div class="overlap-group">
            <div class="container">
              <img class="search-orange-svg" src="img/search-orange-svg.svg" />
              <div class="link"><div class="donate-to-projects">DONATE TO PROJECTS</div></div>
            </div>
            <div class="nav">
              <a href="about.html" class="link"><div class="text-wrapper">About</div></a>
              <a href="nonprofits.html" class="div-wrapper"><div class="text-wrapper-2">Nonprofits</div></a>
              <a href="companies.html" class="link-2"><div class="text-wrapper-3">Companies</div></a>
              <a href="disasters.html" class="link-3"><div class="text-wrapper-4">Disasters</div></a>
              <a href="blog.html" class="link-4"><div class="text-wrapper-5">Blog</div></a>
            </div>
          </div>
          <img class="link-6" src="img/link.svg" />
        </header>
        <div class="section">
          <div class="overlap">
            <div class="background"></div>
            <div class="heading-link"><div class="text-wrapper-7">Donate to Projects</div></div>
          </div>
        </div>
        <div class="nav-wrapper">
          <div class="nav-2">
            <div class="donate-to-projects-wrapper"><div class="donate-to-projects-2">DONATE TO PROJECTS</div></div>
            <div class="project-of-the-month-wrapper">
              <p class="project-of-the-month">PROJECT OF THE MONTH CLUB</p>
            </div>
          </div>
        </div>
        <div class="section-2">
          <div class="background-border">
            <img class="link-7" src="img/link-1.png" />
            <div class="education-wrapper"><div class="education">EDUCATION</div></div>
            <div class="overlap-2">
              <div class="text-wrapper-8">|</div>
              <div class="link-8"><div class="syrian-arab-republic">SYRIAN ARAB REPUBLIC</div></div>
            </div>
            <div class="heading-link-2"><p class="p">Educate 500 Orphans in Syria</p></div>
            <div class="overlap-3">
              <div class="text-wrapper-9">by</div>
              <div class="link-9"><div class="text-wrapper-10">Masarat Initiative</div></div>
            </div>
            <div class="overlap-4">
              <p class="in-syria-did-you">
                In Syria... did you know that thousands of orphans are deprived of their fundamental right<br />to
                education? They suffer poverty and displacemen…
              </p>
              <div class="link-10"><div class="text-wrapper-11">read more</div></div>
            </div>
            <div class="overlap-5">
              <div class="text-wrapper-12">$56,004</div>
              <div class="text-wrapper-13">raised of $60,000 goal</div>
            </div>
            <div class="background-wrapper"><div class="background-2"></div></div>
            <div class="form">
              <div class="border">
                <div class="text-wrapper-14">$</div>
                <div class="input"></div>
              </div>
              <button class="button">
                <div class="overlap-group-2">
                  <div class="border-2"></div>
                  <div class="button-paints"></div>
                  <div class="text-wrapper-15">DONATE</div>
                </div>
              </button>
            </div>
          </div>
          <div class="background-border-2">
            <img class="link-7" src="img/link-2.png" />
            <div class="education-wrapper"><div class="education">EDUCATION</div></div>
            <div class="overlap-6">
              <div class="text-wrapper-8">|</div>
              <div class="uganda-wrapper"><div class="uganda">UGANDA</div></div>
            </div>
            <div class="heading-link-3"><p class="text-wrapper-16">Empower a Girl: For Self-Reliance</p></div>
            <div class="overlap-7">
              <div class="text-wrapper-9">by</div>
              <div class="link-11"><div class="text-wrapper-17">Kole Intellectual Forum</div></div>
            </div>
            <div class="overlap-8">
              <p class="kole-intellectual">
                Kole Intellectual Forum intends to influence the ideas of policy makers at all levels,<br />educationists,
                community and youth in Uganda to inclu…
              </p>
              <div class="link-12"><div class="text-wrapper-11">read more</div></div>
            </div>
            <div class="overlap-9">
              <div class="text-wrapper-18">$173,590</div>
              <div class="text-wrapper-19">raised of $200,000 goal</div>
            </div>
            <div class="background-wrapper"><div class="background-3"></div></div>
            <div class="form">
              <div class="border">
                <div class="text-wrapper-14">$</div>
                <div class="input"></div>
              </div>
              <button class="button">
                <div class="overlap-group-2">
                  <div class="border-2"></div>
                  <div class="button-paints"></div>
                  <div class="text-wrapper-15">DONATE</div>
                </div>
              </button>
            </div>
          </div>
          <div class="background-border-3">
            <img class="link-7" src="img/link-3.png" />
            <div class="physical-health-wrapper"><div class="physical-health">PHYSICAL HEALTH</div></div>
            <div class="overlap-10">
              <div class="text-wrapper-8">|</div>
              <div class="link-8"><div class="syrian-arab-republic">SYRIAN ARAB REPUBLIC</div></div>
            </div>
            <div class="heading-link-4"><p class="text-wrapper-20">Provide Urgent Medical Attention To Syrians</p></div>
            <div class="overlap-11">
              <div class="text-wrapper-9">by</div>
              <div class="link-13"><p class="text-wrapper-21">SEMA INSANI VE TIBBI YARDIM DERNEGI</p></div>
            </div>
            <div class="overlap-12">
              <p class="this-campaign-aims">
                This campaign aims to support URGENT medical needs of those most in need in northern<br />Syria through
                supporting our hospitals, medical centers…
              </p>
              <div class="link-14"><div class="text-wrapper-11">read more</div></div>
            </div>
            <div class="overlap-9">
              <div class="text-wrapper-18">$159,200</div>
              <div class="text-wrapper-19">raised of $200,000 goal</div>
            </div>
            <div class="background-wrapper"><div class="background-4"></div></div>
            <div class="form">
              <div class="border">
                <div class="text-wrapper-14">$</div>
                <div class="input"></div>
              </div>
              <button class="button">
                <div class="overlap-group-2">
                  <div class="border-2"></div>
                  <div class="button-paints"></div>
                  <div class="text-wrapper-15">DONATE</div>
                </div>
              </button>
            </div>
          </div>
          <div class="background-border-4">
            <img class="link-7" src="img/link-4.png" />
            <div class="child-protection-wrapper"><div class="child-protection">CHILD PROTECTION</div></div>
            <div class="overlap-13">
              <div class="text-wrapper-8">|</div>
              <div class="india-wrapper"><div class="india">INDIA</div></div>
            </div>
            <div class="heading-link-5">
              <p class="text-wrapper-22">Janani Home: Embracing Hope for Abandoned Girls</p>
            </div>
            <div class="overlap-14">
              <div class="text-wrapper-9">by</div>
              <div class="link-15"><p class="text-wrapper-23">Prime Educational and Social Trust</p></div>
            </div>
            <div class="overlap-15">
              <p class="janani-home-which">
                Janani Home which was established in 2012, transforms the lives of underprivileged and<br />abandoned
                young girls. The children are taken care f…
              </p>
              <div class="link-16"><div class="text-wrapper-11">read more</div></div>
            </div>
            <div class="overlap-9">
              <div class="text-wrapper-18">$177,594</div>
              <div class="text-wrapper-19">raised of $500,000 goal</div>
            </div>
            <div class="background-wrapper"><div class="background-5"></div></div>
            <div class="form">
              <div class="border">
                <div class="text-wrapper-14">$</div>
                <div class="input"></div>
              </div>
              <button class="button">
                <div class="overlap-group-2">
                  <div class="border-2"></div>
                  <div class="button-paints"></div>
                  <div class="text-wrapper-15">DONATE</div>
                </div>
              </button>
            </div>
          </div>
          <div class="background-border-5">
            <img class="link-7" src="img/link-5.png" />
            <div class="physical-health-wrapper"><div class="physical-health">PHYSICAL HEALTH</div></div>
            <div class="overlap-16">
              <div class="text-wrapper-8">|</div>
              <div class="south-africa-wrapper"><div class="south-africa">SOUTH AFRICA</div></div>
            </div>
            <div class="heading-link-6">
              <p class="text-wrapper-24">Lifeskills for 2,587 Children in South Africa</p>
            </div>
            <div class="overlap-17">
              <div class="text-wrapper-9">by</div>
              <div class="link-17"><div class="text-wrapper-25">Keep The Dream196</div></div>
            </div>
            <div class="overlap-18">
              <p class="join-keep-the">
                Join Keep The Dream196 in changing 2,587 South African orphaned and vulnerable<br />children&#39;s
                lives. The kids aged 5-26yrs, changing families, v…
              </p>
              <div class="link-18"><div class="text-wrapper-11">read more</div></div>
            </div>
            <div class="overlap-9">
              <div class="text-wrapper-18">$370,410</div>
              <div class="text-wrapper-19">raised of $450,000 goal</div>
            </div>
            <div class="background-wrapper"><div class="background-6"></div></div>
            <div class="form">
              <div class="border">
                <div class="text-wrapper-14">$</div>
                <div class="input"></div>
              </div>
              <button class="button">
                <div class="overlap-group-2">
                  <div class="border-2"></div>
                  <div class="button-paints"></div>
                  <div class="text-wrapper-15">DONATE</div>
                </div>
              </button>
            </div>
          </div>
          <div class="background-border-6">
            <img class="link-7" src="img/link-6.png" />
            <div class="gender-equality-wrapper"><div class="gender-equality">GENDER EQUALITY</div></div>
            <div class="overlap-19">
              <div class="text-wrapper-8">|</div>
              <div class="sierra-leone-wrapper"><div class="sierra-leone">SIERRA LEONE</div></div>
            </div>
            <div class="heading-link-7">
              <p class="text-wrapper-26">Educate a Girl, Educate a Nation - Sierra Leone</p>
            </div>
            <div class="overlap-20">
              <div class="text-wrapper-9">by</div>
              <div class="link-19"><div class="text-wrapper-27">Develop Africa, Inc.</div></div>
            </div>
            <div class="overlap-21">
              <p class="investing-in-girls">
                Investing in girls&#39; education not only empowers them individually but also benefits society<br />as
                a whole by promoting gender equality, reducin…
              </p>
              <div class="link-20"><div class="text-wrapper-11">read more</div></div>
            </div>
            <div class="overlap-9">
              <div class="text-wrapper-18">$386,085</div>
              <div class="text-wrapper-19">raised of $495,000 goal</div>
            </div>
            <div class="background-wrapper"><div class="background-7"></div></div>
            <div class="form">
              <div class="border">
                <div class="text-wrapper-14">$</div>
                <div class="input"></div>
              </div>
              <button class="button">
                <div class="overlap-group-2">
                  <div class="border-2"></div>
                  <div class="button-paints"></div>
                  <div class="text-wrapper-15">DONATE</div>
                </div>
              </button>
            </div>
          </div>
          <div class="background-border-7">
            <img class="link-7" src="img/link-7.png" />
            <div class="child-protection-wrapper"><div class="child-protection">CHILD PROTECTION</div></div>
            <div class="overlap-22">
              <div class="text-wrapper-8">|</div>
              <div class="uganda-wrapper"><div class="uganda">UGANDA</div></div>
            </div>
            <div class="heading-link-8">
              <p class="text-wrapper-28">Delay Marriage Promote Schooling for Ugandan Girls</p>
            </div>
            <div class="overlap-23">
              <div class="text-wrapper-9">by</div>
              <div class="link-21"><div class="text-wrapper-29">Joy for Children-Uganda</div></div>
            </div>
            <div class="overlap-24">
              <p class="eradicate-the">
                Eradicate the harmful practice of child marriage through raising awareness, changing<br />behaviour and
                empowering communities with the knowledge…
              </p>
              <div class="link-22"><div class="text-wrapper-11">read more</div></div>
            </div>
            <div class="overlap-5">
              <div class="text-wrapper-12">$73,454</div>
              <div class="text-wrapper-13">raised of $90,000 goal</div>
            </div>
            <div class="background-wrapper"><div class="background-8"></div></div>
            <div class="form">
              <div class="border">
                <div class="text-wrapper-14">$</div>
                <div class="input"></div>
              </div>
              <button class="button">
                <div class="overlap-group-2">
                  <div class="border-2"></div>
                  <div class="button-paints"></div>
                  <div class="text-wrapper-15">DONATE</div>
                </div>
              </button>
            </div>
          </div>
          <div class="background-border-8">
            <img class="link-7" src="img/link-8.png" />
            <div class="climate-action-wrapper"><div class="climate-action">CLIMATE ACTION</div></div>
            <div class="overlap-25">
              <div class="text-wrapper-8">|</div>
              <div class="brazil-wrapper"><div class="brazil">BRAZIL</div></div>
            </div>
            <div class="heading-link-9">
              <p class="text-wrapper-30">Forests4Water Brazil: Community Climate Action</p>
            </div>
            <div class="overlap-26">
              <div class="text-wrapper-9">by</div>
              <div class="link-23"><div class="text-wrapper-31">Iracambi</div></div>
            </div>
            <div class="overlap-27">
              <p class="if-there-s-one-thing">
                If there&#39;s one thing that the pandemic has taught us, it&#39;s how interdependent we all are,<br />and
                how what happens in one place can affect other…
              </p>
              <div class="link-24"><div class="text-wrapper-11">read more</div></div>
            </div>
            <div class="overlap-9">
              <div class="text-wrapper-18">$327,339</div>
              <div class="text-wrapper-19">raised of $400,000 goal</div>
            </div>
            <div class="background-wrapper"><div class="background-8"></div></div>
            <div class="form">
              <div class="border">
                <div class="text-wrapper-14">$</div>
                <div class="input"></div>
              </div>
              <button class="button">
                <div class="overlap-group-2">
                  <div class="border-2"></div>
                  <div class="button-paints"></div>
                  <div class="text-wrapper-15">DONATE</div>
                </div>
              </button>
            </div>
          </div>
          <div class="background-border-9">
            <img class="link-7" src="img/link-9.png" />
            <div class="gender-equality-wrapper"><div class="gender-equality">GENDER EQUALITY</div></div>
            <div class="overlap-28">
              <div class="text-wrapper-8">|</div>
              <div class="united-states-wrapper"><div class="united-states">UNITED STATES</div></div>
            </div>
            <div class="overlap-29">
              <div class="text-wrapper-8">|</div>
              <div class="link-8"><div class="district-of-columbia">DISTRICT OF COLUMBIA</div></div>
            </div>
            <div class="heading-link-10"><p class="text-wrapper-32">Secure Aid Project of the Month Club</p></div>
            <div class="overlap-30">
              <div class="text-wrapper-9">by</div>
              <div class="link-25"><div class="text-wrapper-33">Secure Aid</div></div>
            </div>
            <div class="overlap-31">
              <p class="each-month-secure">
                Each month Secure Aid selects an innovative, high-impact project from our community<br />to be the
                project of the month. All donations to this …
              </p>
              <div class="link-26"><div class="text-wrapper-11">read more</div></div>
            </div>
            <div class="overlap-32">
              <div class="text-wrapper-34">$2,925,752</div>
              <div class="text-wrapper-35">raised of $5,000,000 goal</div>
            </div>
            <div class="background-wrapper"><div class="background-9"></div></div>
            <div class="form">
              <div class="border">
                <div class="text-wrapper-14">$</div>
                <div class="input"></div>
              </div>
              <button class="button">
                <div class="overlap-group-2">
                  <div class="border-2"></div>
                  <div class="button-paints"></div>
                  <div class="text-wrapper-15">DONATE</div>
                </div>
              </button>
            </div>
          </div>
          <div class="background-border-10">
            <img class="link-7" src="img/link-10.png" />
            <div class="climate-action-wrapper"><div class="climate-action">CLIMATE ACTION</div></div>
            <div class="overlap-33">
              <div class="text-wrapper-8">|</div>
              <div class="rwanda-wrapper"><div class="rwanda">RWANDA</div></div>
            </div>
            <div class="heading-link-11"><p class="text-wrapper-36">Plant 40,000 Trees In Northern Rwanda</p></div>
            <div class="overlap-34">
              <div class="text-wrapper-9">by</div>
              <div class="link-27">
                <p class="text-wrapper-37">RWANDAN YOUTH DEVELOPMENT AND VOLUNTARY ORGANIZATION</p>
              </div>
            </div>
            <div class="overlap-35">
              <p class="through-this-project">
                Through this project, the Rwandan Youth Development and Voluntary Organization<br />(RWAYDAVO) will
                plant and maintain 40,000 trees in the Northe…
              </p>
              <div class="link-28"><div class="text-wrapper-11">read more</div></div>
            </div>
            <div class="overlap-5">
              <div class="text-wrapper-12">$74,687</div>
              <div class="text-wrapper-13">raised of $90,000 goal</div>
            </div>
            <div class="background-wrapper"><div class="background-10"></div></div>
            <div class="form">
              <div class="border">
                <div class="text-wrapper-14">$</div>
                <div class="input"></div>
              </div>
              <button class="button">
                <div class="overlap-group-2">
                  <div class="border-2"></div>
                  <div class="button-paints"></div>
                  <div class="text-wrapper-15">DONATE</div>
                </div>
              </button>
            </div>
          </div>
          <div class="background-border-11">
            <img class="link-7" src="img/link-11.png" />
            <div class="education-wrapper"><div class="education">EDUCATION</div></div>
            <div class="overlap-2">
              <div class="text-wrapper-8">|</div>
              <div class="link-8"><div class="syrian-arab-republic">SYRIAN ARAB REPUBLIC</div></div>
            </div>
            <div class="heading-link-12"><p class="text-wrapper-38">Educate 500 Syrian IDP Students</p></div>
            <div class="overlap-3">
              <div class="text-wrapper-9">by</div>
              <div class="link-9"><div class="text-wrapper-10">Masarat Initiative</div></div>
            </div>
            <div class="overlap-36">
              <p class="the-project-will">
                The project will provide free education using remote learning platforms like Microsoft<br />Teams to 500
                students who have been deprived of educa…
              </p>
              <div class="link-29"><div class="text-wrapper-11">read more</div></div>
            </div>
            <div class="overlap-5">
              <div class="text-wrapper-12">$23,144</div>
              <div class="text-wrapper-13">raised of $30,000 goal</div>
            </div>
            <div class="background-wrapper"><div class="background-11"></div></div>
            <div class="form">
              <div class="border">
                <div class="text-wrapper-14">$</div>
                <div class="input"></div>
              </div>
              <button class="button">
                <div class="overlap-group-2">
                  <div class="border-2"></div>
                  <div class="button-paints"></div>
                  <div class="text-wrapper-15">DONATE</div>
                </div>
              </button>
            </div>
          </div>
          <div class="background-border-12">
            <img class="link-7" src="img/link-12.png" />
            <div class="education-wrapper"><div class="education">EDUCATION</div></div>
            <div class="overlap-37">
              <div class="text-wrapper-8">|</div>
              <div class="india-wrapper"><div class="india">INDIA</div></div>
            </div>
            <div class="heading-link-13"><p class="text-wrapper-39">Send a Child in India to School for a Year</p></div>
            <div class="overlap-38">
              <div class="text-wrapper-9">by</div>
              <div class="link-30"><div class="text-wrapper-40">Seva Mandir</div></div>
            </div>
            <div class="overlap-39">
              <p class="seva-mandir-s-focus">
                Seva Mandir&#39;s focus is to provide access to quality education to the children in<br />disadvantaged
                tribal areas through highly effective educati…
              </p>
              <div class="link-31"><div class="text-wrapper-11">read more</div></div>
            </div>
            <div class="overlap-9">
              <div class="text-wrapper-18">$964,178</div>
              <div class="text-wrapper-19">raised of $980,000 goal</div>
            </div>
            <div class="background-wrapper"><div class="background-12"></div></div>
            <div class="form">
              <div class="border">
                <div class="text-wrapper-14">$</div>
                <div class="input"></div>
              </div>
              <button class="button">
                <div class="overlap-group-2">
                  <div class="border-2"></div>
                  <div class="button-paints"></div>
                  <div class="text-wrapper-15">DONATE</div>
                </div>
              </button>
            </div>
          </div>
          <div class="overlap-wrapper">
            <div class="overlap-40">
              <div class="background-13"></div>
              <div class="border-3"></div>
              <p class="load-more-of">LOAD 25 MORE OF 7026</p>
            </div>
          </div>
        </div>
        <div class="container-wrapper">
          <div class="container-2">
            <div class="overlap-group-wrapper">
              <div class="overlap-group-3">
                <input class="container-3" placeholder="Search by keyword" type="text" />
              </div>
            </div>
            <div class="link-wrapper">
              <div class="location-wrapper"><div class="location">LOCATION</div></div>
            </div>
            <div class="container-4">
              <div class="theme-wrapper"><div class="theme">THEME</div></div>
            </div>
            <div class="container-5">
              <div class="trust-filters-wrapper"><div class="trust-filters">TRUST FILTERS</div></div>
            </div>
            <div class="link-32"><div class="text-wrapper-41">Clear All Filters</div></div>
          </div>
        </div>
        <div class="section-3">
          <p class="heading-can-t">Can&#39;t decide which project you care about most?</p>
          <p class="you-don-t-have-to">
            You don&#39;t have to! Each month, GlobalGiving picks an exceptionally high-performing project<br />as the
            project of the month, and they receive money from donors who belong to our<br />Project of the Month Club.
          </p>
          <p class="become-a-member">
            Become a member today, and your donation will go to a different very deserving project<br />each month.
          </p>
          <div class="link-33">
            <div class="overlap-group-4">
              <div class="background-14"></div>
              <div class="border-4"></div>
              <div class="join-now">JOIN NOW</div>
            </div>
          </div>
        </div>
        <div class="section-4">
          <div class="overlap-41">
            <div class="overlap-42">
              <div class="heading">
                <p class="text-wrapper-42">Other Ways to Get Involved</p>
                <div class="horizontal-divider"></div>
              </div>
              <div class="link-34">
                <div class="border-5"><div class="text-wrapper-43">›</div></div>
                <div class="text-wrapper-44">Start a</div>
                <div class="fundraiser">FUNDRAISER</div>
              </div>
              <div class="link-35">
                <div class="border-5"><div class="text-wrapper-43">›</div></div>
                <div class="text-wrapper-45">Join Our</div>
                <div class="team">TEAM</div>
              </div>
            </div>
            <div class="link-36">
              <div class="overlap-group-5">
                <div class="background-15"></div>
                <div class="border-6"><div class="text-wrapper-46">›</div></div>
                <div class="text-wrapper-47">See Our</div>
                <div class="impact">IMPACT</div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer">
          <div class="background-16">
            <div class="container-6">
              <div class="group-2">
                <img class="group-3" src="img/group-1-1.png" />
                <div class="text-wrapper-48">Secure Aid</div>
              </div>
              <p class="secure-aid-makes-it">
                Secure Aid makes it easy and safe for you to give to local projects<br />anywhere in the world, while
                providing nonprofits with the tools,<br />training, and support they need to thrive.
              </p>
              <div class="link-37">
                <div class="overlap-group-6">
                  <div class="border-7"></div>
                  <div class="link-paints"></div>
                  <div class="help-center">HELP CENTER</div>
                </div>
              </div>
            </div>
            <div class="horizontal-divider-2"></div>
            <div class="nav-3">
              <div class="heading-link-14"><div class="text-wrapper-49">Donors</div></div>
              <div class="link-38"><div class="text-wrapper-50">Donate in Honor</div></div>
              <div class="link-39"><p class="text-wrapper-51">Project of the Month Club</p></div>
              <div class="link-40"><div class="text-wrapper-52">Start a Fundraiser</div></div>
              <div class="heading-link-15"><div class="text-wrapper-53">Nonprofits</div></div>
              <div class="link-41"><div class="text-wrapper-54">Start an Application</div></div>
              <div class="link-42"><div class="text-wrapper-55">Why Join?</div></div>
              <div class="link-43"><div class="text-wrapper-56">Handbook</div></div>
              <div class="pricing-fees-wrapper"><div class="pricing-fees">Pricing &amp; Fees</div></div>
              <div class="heading-link-16"><div class="text-wrapper-57">Companies</div></div>
              <div class="link-44"><div class="text-wrapper-58">Our Services</div></div>
              <div class="link-45"><div class="text-wrapper-59">Our Partners</div></div>
              <div class="link-46"><div class="text-wrapper-60">Corporate Gift Cards</div></div>
              <div class="link-47"><div class="text-wrapper-61">GlobalGiving Atlas</div></div>
              <div class="heading-link-17"><div class="text-wrapper-62">About Us</div></div>
              <div class="link-48"><div class="text-wrapper-63">Our Team</div></div>
              <div class="link-49"><div class="text-wrapper-64">Jobs</div></div>
              <div class="link-50"><div class="text-wrapper-65">FAQs</div></div>
              <div class="link-51"><div class="text-wrapper-66">Contact Us</div></div>
              <div class="heading-link-18"><div class="text-wrapper-67">Learn Library</div></div>
              <div class="link-52"><div class="text-wrapper-68">Nonprofit Resources</div></div>
              <div class="link-53"><div class="text-wrapper-69">Corporate Giving Resources</div></div>
              <div class="link-54"><div class="text-wrapper-70">Donor Resources</div></div>
              <div class="link-55"><div class="text-wrapper-71">Success Stories</div></div>
            </div>
            <div class="horizontal-divider-3"></div>
          </div>
          <div class="background-17">
            <div class="container-7">
              <div class="address">
                <div class="overlap-group-7">
                  <div class="text-wrapper-72">© Copyright 2024 Secure Aid</div>
                  <div class="link-56"><div class="text-wrapper-73">Contact Us</div></div>
                </div>
              </div>
              <div class="overlap-43">
                <div class="text-wrapper-74"> ·</div>
                <div class="privacy-wrapper"><div class="privacy">PRIVACY</div></div>
              </div>
              <div class="overlap-44">
                <div class="text-wrapper-74"> ·</div>
                <div class="cookies-wrapper"><div class="cookies">COOKIES</div></div>
              </div>
              <div class="overlap-45">
                <div class="text-wrapper-74"> ·</div>
                <div class="terms-wrapper"><div class="terms">TERMS</div></div>
              </div>
              <div class="overlap-46">
                <div class="text-wrapper-74"> ·</div>
                <div class="pricing-wrapper"><div class="pricing">PRICING</div></div>
              </div>
              <div class="overlap-47">
                <div class="text-wrapper-74"> ·</div>
                <div class="link-57"><div class="text-wrapper-75">API</div></div>
              </div>
              <div class="overlap-48">
                <div class="text-wrapper-74"> ·</div>
                <div class="data-wrapper"><div class="data">DATA</div></div>
              </div>
              <div class="options">
                <div class="container-8"><div class="text-wrapper-76">$ USD</div></div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
