.home-container {
  width: 100%;
  display: flex;
  z-index: 100;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-background-border {
  width: MaxWidth 100%;
  height: auto;
  display: flex;
  position: inherit;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(175, 185, 193, 1);
  border-style: solid;
  border-width: 0px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.home-iframe-html {
  left: -388px;
  width: 247px;
  bottom: 39px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.home-separator {
  left: 187px;
  width: 213px;
  bottom: 127px;
  height: 1px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 185, 193, 1);
  border-style: solid;
  border-width: 1px 0 0;
}
.home-signup {
  gap: 72px;
  width: MaxWidth 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.home-header {
  width: 1300px;
  height: 87px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(175, 185, 193, 1);
  border-style: solid;
  border-width: 0 0 1px;
}
.home-container1 {
  top: 37px;
  left: 1192px;
  width: 82px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-link {
  top: 0px;
  left: 16.399999618530273px;
  width: 44px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text {
  color: rgba(41, 53, 65, 1);
  width: 45px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: right;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.home-group3 {
  top: 7px;
  left: 35px;
  width: 301px;
  height: 74.17672729492188px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-group1 {
  top: 0px;
  left: 0px;
  width: 60.09063720703125px;
  height: 74.17672729492188px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-vector1 {
  top: 0px;
  left: 16.333845138549805px;
  width: 50px;
  height: 74px;
  position: absolute;
}
.home-vector2 {
  top: 27.42291259765625px;
  left: 0px;
  width: 60px;
  height: 23px;
  position: absolute;
}
.home-text002 {
  top: 25.270994186401367px;
  left: 70.61582946777344px;
  color: rgba(0, 0, 0, 1);
  width: 230px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Krona One;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-link01 {
  top: 38px;
  left: 762px;
  width: 105px;
  height: 19.799999237060547px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text004 {
  left: 31.190000534057617px;
  color: rgba(91, 86, 76, 1);
  width: 74px;
  height: auto;
  position: absolute;
  font-size: 14.399999618530273px;
  font-style: Regular;
  text-align: right;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 19.799999237060547px;
  font-stretch: normal;
  text-decoration: none;
}
.home-link02 {
  top: 38px;
  left: 732px;
  width: 41px;
  height: 19.799999237060547px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text006 {
  color: rgba(91, 86, 76, 1);
  width: 42px;
  height: auto;
  position: absolute;
  font-size: 14.399999618530273px;
  font-style: Regular;
  text-align: right;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 19.799999237060547px;
  font-stretch: normal;
  text-decoration: none;
}
.home-link03 {
  top: 38px;
  left: 855px;
  width: 108px;
  height: 19.799999237060547px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text008 {
  left: 31.190000534057617px;
  color: rgba(91, 86, 76, 1);
  width: 77px;
  height: auto;
  position: absolute;
  font-size: 14.399999618530273px;
  font-style: Regular;
  text-align: right;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 19.799999237060547px;
  font-stretch: normal;
  text-decoration: none;
}
.home-link04 {
  top: 38px;
  left: 949px;
  width: 94px;
  height: 19.799999237060547px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text010 {
  left: 31.190000534057617px;
  color: rgba(91, 86, 76, 1);
  width: 63px;
  height: auto;
  position: absolute;
  font-size: 14.399999618530273px;
  font-style: Regular;
  text-align: right;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 19.799999237060547px;
  font-stretch: normal;
  text-decoration: none;
}
.home-container2 {
  width: 273px;
  height: 86px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-searchorangesvg {
  top: 43px;
  right: -311px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.home-link05 {
  top: 32px;
  left: 23.520000457763672px;
  width: 178px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text012 {
  color: rgb(227, 127, 28);
  right: -355px;
  width: 176px;
  bottom: -8px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.home-background-border1 {
  width: 656px;
  height: 956.1099853515625px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 185, 193, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 1);
}
.home-text013 {
  top: 33px;
  left: 150.72000122070312px;
  color: rgba(62, 75, 89, 1);
  width: 355px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: center;
  font-family: Aleo;
  font-weight: 400;
  line-height: 46px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text015 {
  top: 92.98999786376953px;
  left: 219px;
  color: rgba(50, 64, 78, 1);
  width: 178px;
  height: auto;
  position: absolute;
  font-size: 14.399999618530273px;
  font-style: Regular;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 19.799999237060547px;
  font-stretch: normal;
  text-decoration: none;
}
.home-link06 {
  top: 93.38999938964844px;
  left: 397.1300048828125px;
  width: 40px;
  height: 19px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text017 {
  top: -0.4000000059604645px;
  color: rgba(41, 53, 65, 1);
  width: 40px;
  height: auto;
  position: absolute;
  font-size: 14.399999618530273px;
  font-style: Bold;
  text-align: center;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 19.799999237060547px;
  font-stretch: normal;
  text-decoration: underline;
}
.home-form {
  top: 113.19000244140625px;
  left: 71.83999633789062px;
  width: 512px;
  height: 715.9199829101562px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text019 {
  top: 37.599998474121094px;
  color: rgba(125, 132, 138, 1);
  width: 86px;
  height: auto;
  position: absolute;
  font-size: 14.399999618530273px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 19.799999237060547px;
  font-stretch: normal;
  text-decoration: none;
}
.home-input {
  top: 64.9800033569336px;
  left: 0px;
  width: 252px;
  height: 48px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 185, 193, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(235, 238, 238, 1);
}
.home-text021 {
  top: 37.599998474121094px;
  left: 259.989990234375px;
  color: rgba(125, 132, 138, 1);
  width: 82px;
  height: auto;
  position: absolute;
  font-size: 14.399999618530273px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 19.799999237060547px;
  font-stretch: normal;
  text-decoration: none;
}
.home-input1 {
  top: 64.9800033569336px;
  left: 259.989990234375px;
  width: 252px;
  height: 48px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 185, 193, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(235, 238, 238, 1);
}
.home-text023 {
  top: 144.5800018310547px;
  color: rgba(125, 132, 138, 1);
  width: 52px;
  height: auto;
  position: absolute;
  font-size: 14.399999618530273px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 19.799999237060547px;
  font-stretch: normal;
  text-decoration: none;
}
.home-input2 {
  top: 171.97000122070312px;
  left: 0px;
  width: 512px;
  height: 48px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 185, 193, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(235, 238, 238, 1);
}
.home-text025 {
  top: 251.57000732421875px;
  color: rgba(125, 132, 138, 1);
  width: 92px;
  height: auto;
  position: absolute;
  font-size: 14.399999618530273px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 19.799999237060547px;
  font-stretch: normal;
  text-decoration: none;
}
.home-input3 {
  top: 278.95001220703125px;
  left: 0px;
  width: 512px;
  height: 48px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 185, 193, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(235, 238, 238, 1);
}
.home-text027 {
  top: 358.54998779296875px;
  color: rgba(125, 132, 138, 1);
  width: 176px;
  height: auto;
  position: absolute;
  font-size: 14.399999618530273px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 19.799999237060547px;
  font-stretch: normal;
  text-decoration: none;
}
.home-input4 {
  top: 385.94000244140625px;
  left: 0px;
  width: 512px;
  height: 48px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 185, 193, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(235, 238, 238, 1);
}
.home-label {
  top: 465.94000244140625px;
  left: 0px;
  width: 512px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-background-border2 {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(193, 186, 176, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 1);
}
.home-text029 {
  left: 30px;
  color: rgba(50, 64, 78, 1);
  width: 281px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.home-container3 {
  top: 519.9400024414062px;
  left: 0px;
  width: 304px;
  height: 78px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-html {
  top: 0px;
  left: 0px;
  width: 304px;
  height: 76px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.home-body {
  top: 0px;
  left: 0px;
  width: 302px;
  height: 76px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.07999999821186066) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(211, 211, 211, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  background-color: rgba(249, 249, 249, 1);
}
.home-checkbox {
  top: 22.5px;
  left: 13px;
  width: 28px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-image {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  position: absolute;
}
.home-image1 {
  top: 0px;
  left: -5px;
  width: 38px;
  height: 30px;
  position: absolute;
}
.home-background-border3 {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  position: absolute;
  border-color: rgba(193, 193, 193, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 2px;
}
.home-text031 {
  top: 29.5px;
  left: 53px;
  color: rgba(0, 0, 0, 1);
  width: 90px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 17px;
  font-stretch: normal;
  text-decoration: none;
}
.home-image2 {
  top: -5px;
  left: 242px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.home-text033 {
  top: 48px;
  left: 234.97999572753906px;
  color: rgba(85, 85, 85, 1);
  width: 54px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: 10px;
  font-stretch: normal;
  text-decoration: none;
}
.home-background {
  top: 60px;
  left: 15px;
  width: 278px;
  height: 10px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-link07 {
  top: -2px;
  left: 217.52000427246094px;
  width: 28px;
  height: 14px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text035 {
  top: 2px;
  left: 1px;
  color: rgba(85, 85, 85, 1);
  width: 26px;
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Regular;
  text-align: right;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text037 {
  left: 245.36000061035156px;
  color: rgba(0, 0, 0, 1);
  width: 6px;
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Regular;
  text-align: right;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-link08 {
  top: -2px;
  left: 251.52999877929688px;
  width: 24px;
  height: 14px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text039 {
  top: 2px;
  left: 1px;
  color: rgba(85, 85, 85, 1);
  width: 23px;
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Regular;
  text-align: right;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-emphasis {
  top: 685.9199829101562px;
  left: 66.66000366210938px;
  width: 379px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text041 {
  color: rgba(50, 64, 78, 1);
  width: 268px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: italic;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.home-link09 {
  top: 0px;
  left: 267.2699890136719px;
  width: 112px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text043 {
  color: rgba(41, 53, 65, 1);
  width: 112px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.home-button {
  top: 626.72998046875px;
  left: 0px;
  width: 512px;
  height: 43.189998626708984px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-background1 {
  top: 0px;
  left: 0px;
  width: 512px;
  height: 43.189998626708984px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color:rgba(41, 53, 65, 1);
}
.home-backgroundtext {
  color: white;             
    font-weight: 600;            
    display: flex;      
    font-size: 16px;             
    text-transform: uppercase;   
    padding: 10px 20px;             
    border-radius: 5px;          
    text-align: center;      
    position: relative;  
    right: -190px;        
}
.home-border {
  top: 0px;
  left: -64px;
  width: 65px;
  height: 64px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-style: solid;
  border-width: 64px 64px 0 0;
}
.home-buttonpaints {
  top: 0px;
  left: 0px;
  width: 512px;
  height: 43.189998626708984px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(41, 53, 65, 1);
}
.home-text045 {
  top: 12px;
  left: 225.67999267578125px;
  color: rgba(255, 255, 255, 1);
  width: 61px;
  height: auto;
  position: absolute;
  font-size: 12.800000190734863px;
  font-style: Bold;
  text-align: center;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 17.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.home-separator1 {
  top: 855.6099853515625px;
  left: 71.83999633789062px;
  width: 213px;
  height: 1px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 185, 193, 1);
  border-style: solid;
  border-width: 1px 0 0;
}
.home-text047 {
  top: 845.1099853515625px;
  left: 316.6600036621094px;
  color: rgba(50, 64, 78, 1);
  width: 23px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.home-separator2 {
  top: 855.6099853515625px;
  left: 370.6700134277344px;
  width: 213px;
  height: 1px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 185, 193, 1);
  border-style: solid;
  border-width: 1px 0 0;
}
.home-iframe-html1 {
  top: 883.1099853515625px;
  left: 204.5px;
  width: 247px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.home-body-button-table {
  top: 0px;
  left: 0px;
  width: 246px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: rgba(24, 119, 242, 1);
}
.home-body-row {
  top: 0px;
  left: 0px;
  width: 246px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-data-u7maw-jl-e6h-zpng {
  top: 8px;
  left: 12px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-size: cover;
  background-image: url("public/external/tq_hxqqgmq03u-exss-200h.png");
}
.home-data {
  top: 9.270000457763672px;
  left: 44px;
  width: 190px;
  height: 21.469999313354492px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text049 {
  top: 0.25999999046325684px;
  color: rgba(255, 255, 255, 1);
  width: 191px;
  height: auto;
  position: absolute;
  font-size: 15.5px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 20.479999542236328px;
  font-stretch: normal;
  text-decoration: none;
}
.home-footer {
  width: 1300px;
  height: 493.5199890136719px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
.home-background2 {
  top: 0px;
  left: 0px;
  width: 1300px;
  height: 420.4800109863281px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 1);
}
.home-container4 {
  top: 48px;
  left: 10px;
  width: 1280px;
  height: 84.77999877929688px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-group31 {
  top: -23.1099853515625px;
  left: 73px;
  width: 337.5209045410156px;
  height: 83.17672729492188px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-group11 {
  top: 0px;
  left: 0px;
  width: 67.38154602050781px;
  height: 83.17672729492188px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-vector11 {
  top: -9.094947017729282e-13px;
  left: 18.3156795501709px;
  width: 50px;
  height: 83px;
  position: absolute;
}
.home-vector21 {
  top: 30.7501163482666px;
  left: 0px;
  width: 67px;
  height: 26px;
  position: absolute;
}
.home-text051 {
  top: 28.337173461914062px;
  left: 79.18379974365234px;
  color: rgba(255, 255, 255, 1);
  width: 258px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Krona One;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text053 {
  top: -7.1099853515625px;
  left: 530px;
  color: rgba(196, 199, 202, 1);
  width: 408px;
  height: auto;
  position: absolute;
  font-size: 12.800000190734863px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.home-link10 {
  top: -0.1099853515625px;
  left: 1036px;
  width: 152px;
  height: 45.189998626708984px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-border1 {
  top: 1px;
  left: -63px;
  width: 65px;
  height: 64px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-style: solid;
  border-width: 64px 64px 0 0;
}
.home-linkpaints {
  top: 0px;
  left: 0px;
  width: 152px;
  height: 45.189998626708984px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(240, 139, 29, 1);
  border-style: solid;
  border-width: 1px;
}
.home-text059 {
  top: 13px;
  left: 26.600000381469727px;
  color: rgba(240, 139, 29, 1);
  width: 99px;
  height: auto;
  position: absolute;
  font-size: 12.800000190734863px;
  font-style: ExtraBold;
  text-align: center;
  font-family: Open Sans;
  font-weight: 800;
  line-height: 17.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.home-horizontal-divider {
  top: 132.77999877929688px;
  left: 0px;
  width: 1300px;
  height: 2px;
  position: absolute;
}
.home-nav {
  top: 134.77999877929688px;
  left: 10px;
  width: 1280px;
  height: 217.6999969482422px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-heading4-link {
  top: 27.18000030517578px;
  left: 57.59000015258789px;
  width: 233px;
  height: 25.770000457763672px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text061 {
  top: -0.3799999952316284px;
  color: rgba(240, 139, 29, 1);
  width: 78px;
  height: auto;
  position: absolute;
  font-size: 22.399999618530273px;
  font-style: Bold;
  text-align: left;
  font-family: Aleo;
  font-weight: 700;
  line-height: 25.760000228881836px;
  font-stretch: normal;
  text-decoration: none;
}
.home-link11 {
  top: 68.52978515625px;
  left: 57.59002685546875px;
  width: 105px;
  height: 18px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text063 {
  top: 0.20000000298023224px;
  color: rgba(255, 255, 255, 1);
  width: 106px;
  height: auto;
  position: absolute;
  font-size: 12.800000190734863px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 17.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.home-link12 {
  top: 98.919921875px;
  left: 57.59002685546875px;
  width: 164px;
  height: 18px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text065 {
  top: 0.20000000298023224px;
  color: rgba(255, 255, 255, 1);
  width: 164px;
  height: auto;
  position: absolute;
  font-size: 12.800000190734863px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 17.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.home-link13 {
  top: 129.31005859375px;
  left: 57.59002685546875px;
  width: 115px;
  height: 18px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text067 {
  top: 0.20000000298023224px;
  color: rgba(255, 255, 255, 1);
  width: 116px;
  height: auto;
  position: absolute;
  font-size: 12.800000190734863px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 17.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.home-heading4-link1 {
  top: 27.18000030517578px;
  left: 290.54998779296875px;
  width: 233px;
  height: 25.770000457763672px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text069 {
  top: -0.3799999952316284px;
  color: rgba(240, 139, 29, 1);
  width: 118px;
  height: auto;
  position: absolute;
  font-size: 22.399999618530273px;
  font-style: Bold;
  text-align: left;
  font-family: Aleo;
  font-weight: 700;
  line-height: 25.760000228881836px;
  font-stretch: normal;
  text-decoration: none;
}
.home-link14 {
  top: 63.13999938964844px;
  left: 290.54998779296875px;
  width: 127px;
  height: 18px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text071 {
  top: 0.20000000298023224px;
  color: rgba(255, 255, 255, 1);
  width: 128px;
  height: auto;
  position: absolute;
  font-size: 12.800000190734863px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 17.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.home-link15 {
  top: 93.52999877929688px;
  left: 290.54998779296875px;
  width: 62px;
  height: 18px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text073 {
  top: 0.20000000298023224px;
  color: rgba(255, 255, 255, 1);
  width: 62px;
  height: auto;
  position: absolute;
  font-size: 12.800000190734863px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 17.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.home-link16 {
  top: 123.91999816894531px;
  left: 290.54998779296875px;
  width: 66px;
  height: 18px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text075 {
  top: 0.20000000298023224px;
  color: rgba(255, 255, 255, 1);
  width: 66px;
  height: auto;
  position: absolute;
  font-size: 12.800000190734863px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 17.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.home-link17 {
  top: 154.30999755859375px;
  left: 290.54998779296875px;
  width: 89px;
  height: 18px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text077 {
  top: 0.20000000298023224px;
  color: rgba(255, 255, 255, 1);
  width: 89px;
  height: auto;
  position: absolute;
  font-size: 12.800000190734863px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 17.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.home-heading4-link2 {
  top: 27.18000030517578px;
  left: 523.5px;
  width: 233px;
  height: 25.770000457763672px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text079 {
  top: -0.3799999952316284px;
  color: rgba(240, 139, 29, 1);
  width: 119px;
  height: auto;
  position: absolute;
  font-size: 22.399999618530273px;
  font-style: Bold;
  text-align: left;
  font-family: Aleo;
  font-weight: 700;
  line-height: 25.760000228881836px;
  font-stretch: normal;
  text-decoration: none;
}
.home-link18 {
  top: 63.13999938964844px;
  left: 523.5px;
  width: 80px;
  height: 18px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text081 {
  top: 0.20000000298023224px;
  color: rgba(255, 255, 255, 1);
  width: 80px;
  height: auto;
  position: absolute;
  font-size: 12.800000190734863px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 17.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.home-link19 {
  top: 93.52999877929688px;
  left: 523.5px;
  width: 83px;
  height: 18px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text083 {
  top: 0.20000000298023224px;
  color: rgba(255, 255, 255, 1);
  width: 83px;
  height: auto;
  position: absolute;
  font-size: 12.800000190734863px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 17.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.home-link20 {
  top: 123.91999816894531px;
  left: 523.5px;
  width: 131px;
  height: 18px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text085 {
  top: 0.20000000298023224px;
  color: rgba(255, 255, 255, 1);
  width: 131px;
  height: auto;
  position: absolute;
  font-size: 12.800000190734863px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 17.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.home-link21 {
  top: 154.30999755859375px;
  left: 523.5px;
  width: 117px;
  height: 18px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text087 {
  top: 0.20000000298023224px;
  color: rgba(255, 255, 255, 1);
  width: 117px;
  height: auto;
  position: absolute;
  font-size: 12.800000190734863px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 17.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.home-heading4-link3 {
  top: 27.18000030517578px;
  left: 756.4500122070312px;
  width: 233px;
  height: 25.770000457763672px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text089 {
  top: -0.3799999952316284px;
  color: rgba(240, 139, 29, 1);
  width: 101px;
  height: auto;
  position: absolute;
  font-size: 22.399999618530273px;
  font-style: Bold;
  text-align: left;
  font-family: Aleo;
  font-weight: 700;
  line-height: 25.760000228881836px;
  font-stretch: normal;
  text-decoration: none;
}
.home-link22 {
  top: 63.13999938964844px;
  left: 756.4500122070312px;
  width: 63px;
  height: 18px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text091 {
  top: 0.20000000298023224px;
  color: rgba(255, 255, 255, 1);
  width: 63px;
  height: auto;
  position: absolute;
  font-size: 12.800000190734863px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 17.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.home-link23 {
  top: 93.52999877929688px;
  left: 756.4500122070312px;
  width: 27px;
  height: 18px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text093 {
  top: 0.20000000298023224px;
  color: rgba(255, 255, 255, 1);
  width: 27px;
  height: auto;
  position: absolute;
  font-size: 12.800000190734863px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 17.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.home-link24 {
  top: 123.91999816894531px;
  left: 756.4500122070312px;
  width: 32px;
  height: 18px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text095 {
  top: 0.20000000298023224px;
  color: rgba(255, 255, 255, 1);
  width: 33px;
  height: auto;
  position: absolute;
  font-size: 12.800000190734863px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 17.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.home-link25 {
  top: 154.30999755859375px;
  left: 756.4500122070312px;
  width: 69px;
  height: 18px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text097 {
  top: 0.20000000298023224px;
  color: rgba(255, 255, 255, 1);
  width: 70px;
  height: auto;
  position: absolute;
  font-size: 12.800000190734863px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 17.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.home-heading4-link4 {
  top: 27.18000030517578px;
  left: 989.4099731445312px;
  width: 233px;
  height: 25.770000457763672px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text099 {
  top: -0.3799999952316284px;
  color: rgba(240, 139, 29, 1);
  width: 146px;
  height: auto;
  position: absolute;
  font-size: 22.399999618530273px;
  font-style: Bold;
  text-align: left;
  font-family: Aleo;
  font-weight: 700;
  line-height: 25.760000228881836px;
  font-stretch: normal;
  text-decoration: none;
}
.home-link26 {
  top: 63.13999938964844px;
  left: 989.4099731445312px;
  width: 131px;
  height: 18px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text101 {
  top: 0.20000000298023224px;
  color: rgba(255, 255, 255, 1);
  width: 132px;
  height: auto;
  position: absolute;
  font-size: 12.800000190734863px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 17.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.home-link27 {
  top: 93.52999877929688px;
  left: 989.4099731445312px;
  width: 176px;
  height: 18px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text103 {
  top: 0.20000000298023224px;
  color: rgba(255, 255, 255, 1);
  width: 177px;
  height: auto;
  position: absolute;
  font-size: 12.800000190734863px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 17.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.home-link28 {
  top: 123.91999816894531px;
  left: 989.4099731445312px;
  width: 108px;
  height: 18px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text105 {
  top: 0.20000000298023224px;
  color: rgba(255, 255, 255, 1);
  width: 108px;
  height: auto;
  position: absolute;
  font-size: 12.800000190734863px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 17.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.home-link29 {
  top: 154.30999755859375px;
  left: 989.4099731445312px;
  width: 96px;
  height: 18px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text107 {
  top: 0.20000000298023224px;
  color: rgba(255, 255, 255, 1);
  width: 97px;
  height: auto;
  position: absolute;
  font-size: 12.800000190734863px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 17.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.home-horizontal-divider1 {
  top: 352.4800109863281px;
  left: 0px;
  width: 1300px;
  height: 2px;
  position: absolute;
}
.home-background3 {
  top: 420.4800109863281px;
  left: 0px;
  width: 1300px;
  height: 73.02999877929688px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(41, 53, 65, 1);
}
.home-container5 {
  top: 0px;
  left: 10px;
  width: 1280px;
  height: 73.02999877929688px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-address {
  top: 13.210000038146973px;
  left: 57.59000015258789px;
  width: 451px;
  height: 46.380001068115234px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text109 {
  color: rgba(196, 199, 202, 1);
  width: 423px;
  height: auto;
  position: absolute;
  font-size: 11.199999809265137px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 15.399999618530273px;
  font-stretch: normal;
  text-decoration: none;
}
.home-link30 {
  top: 15.18017578125px;
  left: 291.40997314453125px;
  width: 62px;
  height: 15.399999618530273px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text111 {
  color: rgba(240, 139, 29, 1);
  width: 62px;
  height: auto;
  position: absolute;
  font-size: 11.199999809265137px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 15.399999618530273px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text113 {
  top: 28.610000610351562px;
  left: 935.22998046875px;
  color: rgba(240, 139, 29, 1);
  width: 10px;
  height: auto;
  position: absolute;
  font-size: 11.199999809265137px;
  font-style: Bold;
  text-align: right;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 15.399999618530273px;
  font-stretch: normal;
  text-decoration: none;
}
.home-link31 {
  top: 28.809999465942383px;
  left: 944.5800170898438px;
  width: 48px;
  height: 15.390000343322754px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text115 {
  top: -0.20000000298023224px;
  color: rgba(255, 255, 255, 1);
  width: 48px;
  height: auto;
  position: absolute;
  font-size: 11.199999809265137px;
  font-style: Bold;
  text-align: right;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 15.399999618530273px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text117 {
  top: 28.610000610351562px;
  left: 992.5800170898438px;
  color: rgba(240, 139, 29, 1);
  width: 10px;
  height: auto;
  position: absolute;
  font-size: 11.199999809265137px;
  font-style: Bold;
  text-align: right;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 15.399999618530273px;
  font-stretch: normal;
  text-decoration: none;
}
.home-link32 {
  top: 28.809999465942383px;
  left: 1001.9199829101562px;
  width: 49px;
  height: 15.390000343322754px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text119 {
  top: -0.20000000298023224px;
  color: rgba(255, 255, 255, 1);
  width: 50px;
  height: auto;
  position: absolute;
  font-size: 11.199999809265137px;
  font-style: Bold;
  text-align: right;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 15.399999618530273px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text121 {
  top: 28.610000610351562px;
  left: 1051.219970703125px;
  color: rgba(240, 139, 29, 1);
  width: 10px;
  height: auto;
  position: absolute;
  font-size: 11.199999809265137px;
  font-style: Bold;
  text-align: right;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 15.399999618530273px;
  font-stretch: normal;
  text-decoration: none;
}
.home-link33 {
  top: 28.809999465942383px;
  left: 1060.56005859375px;
  width: 37px;
  height: 15.390000343322754px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text123 {
  top: -0.20000000298023224px;
  color: rgba(255, 255, 255, 1);
  width: 38px;
  height: auto;
  position: absolute;
  font-size: 11.199999809265137px;
  font-style: Bold;
  text-align: right;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 15.399999618530273px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text125 {
  top: 28.610000610351562px;
  left: 1097.969970703125px;
  color: rgba(240, 139, 29, 1);
  width: 10px;
  height: auto;
  position: absolute;
  font-size: 11.199999809265137px;
  font-style: Bold;
  text-align: right;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 15.399999618530273px;
  font-stretch: normal;
  text-decoration: none;
}
.home-link34 {
  top: 28.809999465942383px;
  left: 1107.31005859375px;
  width: 47px;
  height: 15.390000343322754px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text127 {
  top: -0.20000000298023224px;
  color: rgba(255, 255, 255, 1);
  width: 47px;
  height: auto;
  position: absolute;
  font-size: 11.199999809265137px;
  font-style: Bold;
  text-align: right;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 15.399999618530273px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text129 {
  top: 28.610000610351562px;
  left: 1154.25px;
  color: rgba(240, 139, 29, 1);
  width: 10px;
  height: auto;
  position: absolute;
  font-size: 11.199999809265137px;
  font-style: Bold;
  text-align: right;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 15.399999618530273px;
  font-stretch: normal;
  text-decoration: none;
}
.home-link35 {
  top: 28.809999465942383px;
  left: 1163.5899658203125px;
  width: 19px;
  height: 15.390000343322754px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text131 {
  top: -0.20000000298023224px;
  color: rgba(255, 255, 255, 1);
  width: 19px;
  height: auto;
  position: absolute;
  font-size: 11.199999809265137px;
  font-style: Bold;
  text-align: right;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 15.399999618530273px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text133 {
  top: 28.610000610351562px;
  left: 1182.3900146484375px;
  color: rgba(240, 139, 29, 1);
  width: 10px;
  height: auto;
  position: absolute;
  font-size: 11.199999809265137px;
  font-style: Bold;
  text-align: right;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 15.399999618530273px;
  font-stretch: normal;
  text-decoration: none;
}
.home-link36 {
  top: 28.809999465942383px;
  left: 1191.72998046875px;
  width: 31px;
  height: 15.390000343322754px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text135 {
  top: -0.20000000298023224px;
  color: rgba(255, 255, 255, 1);
  width: 31px;
  height: auto;
  position: absolute;
  font-size: 11.199999809265137px;
  font-style: Bold;
  text-align: right;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 15.399999618530273px;
  font-stretch: normal;
  text-decoration: none;
}
.home-options {
  top: 22.389999389648438px;
  left: 865.72998046875px;
  width: 69px;
  height: 28.25px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(240, 139, 29, 1);
  border-style: solid;
  border-width: 1px;
}
.home-imagefill {
  top: 0px;
  left: 0px;
  width: 69px;
  height: 28.25px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-image3 {
  top: 10.800000190734863px;
  left: 52.900001525878906px;
  width: 10px;
  height: 10px;
  position: absolute;
}
.home-container6 {
  top: 4.5px;
  left: 8px;
  width: 43px;
  height: 19.25px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-text137 {
  top: -0.125px;
  color: rgba(227, 127, 28, 1);
  width: 41px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 19.25px;
  font-stretch: normal;
  text-decoration: none;
}