<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="login">
      <div class="div">
        <header class="header">
          <div class="overlap-group">
            <div class="nav">
              <div class="link"><div class="text-wrapper">About</div></div>
              <div class="div-wrapper"><div class="text-wrapper-2">Nonprofits</div></div>
              <div class="link-2"><div class="text-wrapper-3">Companies</div></div>
              <div class="link-3"><div class="text-wrapper-4">Disasters</div></div>
              <div class="link-4"><div class="text-wrapper-5">Blog</div></div>
            </div>
            <div class="container">
              <div class="link-5"><div class="text-wrapper-6">Login</div></div>
            </div>
            <div class="group">
              <img class="img" src="img/group-1.png" />
              <div class="text-wrapper-7">Secure Aid</div>
            </div>
            <div class="container-2">
              <img class="search-orange-svg" src="img/search-orange-svg.svg" />
              <div class="donate-to-projects-wrapper"><div class="donate-to-projects">DONATE TO PROJECTS</div></div>
            </div>
          </div>
        </header>
        <div class="background-border">
          <div class="heading-login">Login</div>
          <div class="overlap">
            <div class="text-wrapper-8">New to GlobalGiving?</div>
            <div class="link-6"><div class="text-wrapper-9">Create an account</div></div>
          </div>
          <div class="form">
            <div class="label-email">EMAIL</div>
            <div class="input"></div>
            <div class="label-password">PASSWORD</div>
            <div class="input-2"></div>
            <div class="label">
              <img class="image-background" src="img/image-background-border.svg" />
              <div class="text-wrapper-10">Remember me</div>
            </div>
            <div class="link-7"><div class="text-wrapper-11">Forgot password?</div></div>
            <div class="html-wrapper">
              <div class="html">
                <div class="body">
                  <div class="checkbox">
                    <div class="background-border-wrapper"><div class="background-border-2"></div></div>
                  </div>
                  <div class="i-m-not-a-robot">I&#39;m not a robot</div>
                  <img class="image" src="img/image-2.png" />
                  <div class="text-wrapper-12">reCAPTCHA</div>
                  <div class="background">
                    <div class="link-8"><div class="text-wrapper-13">Privacy</div></div>
                    <div class="overlap-2">
                      <div class="text-wrapper-14">-</div>
                      <div class="link-9"><div class="text-wrapper-15">Terms</div></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="button">
              <div class="overlap-3">
                <div class="border"></div>
                <div class="button-paints"></div>
                <div class="text-wrapper-16">LOGIN</div>
              </div>
            </button>
          </div>
          <div class="separator"></div>
          <div class="text-wrapper-17">OR</div>
          <div class="separator-2"></div>
          <div class="iframe-html">
            <div class="body-button-table">
              <div class="body-row">
                <div class="data-png"></div>
                <div class="data"><div class="text-wrapper-18">Continue with Facebook</div></div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer">
          <div class="overlap-4">
            <div class="background-2">
              <div class="container-3">
                <div class="group-2">
                  <img class="group-3" src="img/group-1-1.png" />
                  <div class="text-wrapper-19">Secure Aid</div>
                </div>
                <p class="secure-aid-makes-it">
                  Secure Aid makes it easy and safe for you to give to local projects<br />anywhere in the world, while
                  providing nonprofits with the tools,<br />training, and support they need to thrive.
                </p>
                <div class="overlap-group-wrapper">
                  <div class="overlap-group-2">
                    <div class="border-2"></div>
                    <div class="link-paints"></div>
                    <div class="help-center">HELP CENTER</div>
                  </div>
                </div>
              </div>
              <div class="horizontal-divider"></div>
              <div class="overlap-5">
                <div class="nav-2">
                  <div class="heading-link"><div class="text-wrapper-20">Donors</div></div>
                  <div class="link-10"><div class="text-wrapper-21">Donate in Honor</div></div>
                  <div class="link-11"><p class="p">Project of the Month Club</p></div>
                  <div class="link-12"><div class="text-wrapper-22">Start a Fundraiser</div></div>
                  <div class="heading-link-2"><div class="text-wrapper-23">Nonprofits</div></div>
                  <div class="link-13"><div class="text-wrapper-24">Start an Application</div></div>
                  <div class="link-14"><div class="text-wrapper-25">Why Join?</div></div>
                  <div class="link-15"><div class="text-wrapper-26">Handbook</div></div>
                  <div class="pricing-fees-wrapper"><div class="pricing-fees">Pricing &amp; Fees</div></div>
                  <div class="heading-link-3"><div class="text-wrapper-27">Companies</div></div>
                  <div class="link-16"><div class="text-wrapper-28">Our Services</div></div>
                  <div class="link-17"><div class="text-wrapper-29">Our Partners</div></div>
                  <div class="link-18"><div class="text-wrapper-30">Corporate Gift Cards</div></div>
                  <div class="link-19"><div class="text-wrapper-31">GlobalGiving Atlas</div></div>
                  <div class="heading-link-4"><div class="text-wrapper-32">About Us</div></div>
                  <div class="link-20"><div class="text-wrapper-33">Our Team</div></div>
                  <div class="link-21"><div class="text-wrapper-34">Jobs</div></div>
                  <div class="link-22"><div class="text-wrapper-35">FAQs</div></div>
                  <div class="link-23"><div class="text-wrapper-36">Contact Us</div></div>
                  <div class="heading-link-5"><div class="text-wrapper-37">Learn Library</div></div>
                  <div class="link-24"><div class="text-wrapper-38">Nonprofit Resources</div></div>
                  <div class="link-25"><div class="text-wrapper-39">Corporate Giving Resources</div></div>
                  <div class="link-26"><div class="text-wrapper-40">Donor Resources</div></div>
                  <div class="link-27"><div class="text-wrapper-41">Success Stories</div></div>
                </div>
                <div class="horizontal-divider-2"></div>
              </div>
            </div>
            <div class="container-wrapper">
              <div class="container-4">
                <div class="address">
                  <div class="overlap-group-3">
                    <div class="text-wrapper-42">© Copyright 2024 Secure Aid</div>
                    <div class="link-28"><div class="text-wrapper-43">Contact Us</div></div>
                  </div>
                </div>
                <div class="overlap-6">
                  <div class="text-wrapper-44"> ·</div>
                  <div class="privacy-wrapper"><div class="privacy">PRIVACY</div></div>
                </div>
                <div class="overlap-7">
                  <div class="text-wrapper-44"> ·</div>
                  <div class="cookies-wrapper"><div class="cookies">COOKIES</div></div>
                </div>
                <div class="overlap-8">
                  <div class="text-wrapper-44"> ·</div>
                  <div class="terms-wrapper"><div class="terms">TERMS</div></div>
                </div>
                <div class="overlap-9">
                  <div class="text-wrapper-44"> ·</div>
                  <div class="pricing-wrapper"><div class="pricing">PRICING</div></div>
                </div>
                <div class="overlap-10">
                  <div class="text-wrapper-44"> ·</div>
                  <div class="link-29"><div class="text-wrapper-45">API</div></div>
                </div>
                <div class="overlap-11">
                  <div class="text-wrapper-44"> ·</div>
                  <div class="data-wrapper"><div class="data-2">DATA</div></div>
                </div>
                <div class="options">
                  <div class="container-5"><div class="text-wrapper-46">$ USD</div></div>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
