<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="landing-page">
      <div class="div">
        <header class="header">
          <div class="group">
            <img class="img" src="img/group-1.png" />
            <div class="text-wrapper">Secure Aid</div>
          </div>
          <div class="overlap-group">
            <div class="container">
              <img class="search-orange-svg" src="img/search-orange-svg.svg" />
              <div class="link"><div class="donate-to-projects">DONATE TO PROJECTS</div></div>
            </div>
            <div class="nav">
              <div class="div-wrapper"><div class="text-wrapper-2">About</div></div>
              <div class="link-2"><div class="text-wrapper-3">Nonprofits</div></div>
              <div class="link-3"><div class="text-wrapper-4">Companies</div></div>
              <div class="link-4"><div class="text-wrapper-5">Disasters</div></div>
              <div class="link-5"><div class="text-wrapper-6">Blog</div></div>
            </div>
          </div>
          <div class="link-wrapper">
            <div class="link-6"><div class="text-wrapper-7">Login</div></div>
          </div>
        </header>
        <div class="overlap">
          <div class="background">
            <div class="overlap-2">
              <div class="link-7"></div>
              <div class="background-2">
                <div class="grenada-wrapper"><div class="grenada">GRENADA</div></div>
                <div class="heading-link"><div class="text-wrapper-8">Hurricane Beryl Relief Fund</div></div>
              </div>
            </div>
          </div>
          <div class="border"></div>
        </div>
        <div class="container-2">
          <div class="overlap-group-wrapper">
            <div class="overlap-group-2">
              <div class="link-8"></div>
              <div class="background-3">
                <div class="link-9"><div class="sudan">SUDAN</div></div>
                <div class="heading-link-2"><div class="text-wrapper-9">Sudan Emergency Fund</div></div>
              </div>
            </div>
          </div>
          <div class="overlap-wrapper">
            <div class="overlap-group-2">
              <div class="link-10"></div>
              <div class="background-3">
                <div class="bahamas-the-wrapper"><div class="bahamas-the">BAHAMAS, THE</div></div>
                <div class="heading-link-3"><p class="p">Empowering Youth and Adults in The Bahamas</p></div>
              </div>
            </div>
          </div>
          <div class="background-4">
            <div class="overlap-group-2">
              <div class="link-11"></div>
              <div class="background-3">
                <div class="philippines-wrapper"><div class="philippines">PHILIPPINES</div></div>
                <div class="heading-link-4"><p class="text-wrapper-10">Philippine Heat Wave Disaster Response</p></div>
              </div>
            </div>
          </div>
          <div class="background-5">
            <div class="overlap-group-2">
              <div class="link-12"></div>
              <div class="background-3">
                <div class="link-9"><div class="yemen">YEMEN</div></div>
                <div class="heading-link-5">
                  <p class="text-wrapper-11">Rehabilitate a Poor School in a Village in Yemen</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="background-6">
          <div class="explore-projects">EXPLORE PROJECTS:</div>
          <div class="link-13"><div class="text-wrapper-12">Featured</div></div>
          <div class="link-14"><div class="text-wrapper-13">Newest</div></div>
          <div class="link-15"><div class="text-wrapper-14">Nearly Funded</div></div>
          <div class="link-16"><div class="text-wrapper-15">Child Protection</div></div>
          <div class="link-17"><div class="text-wrapper-16">Disaster Response</div></div>
          <div class="link-18"><div class="text-wrapper-17">Education</div></div>
          <div class="link-19"><div class="text-wrapper-18">Climate Action</div></div>
          <div class="link-20"><div class="text-wrapper-19">Food Security</div></div>
          <div class="link-21"><div class="text-wrapper-20">Gender Equality</div></div>
          <div class="link-22"><div class="text-wrapper-21">Physical Health</div></div>
          <div class="see-all-wrapper"><div class="see-all">SEE ALL ›</div></div>
        </div>
        <div class="overlap-3">
          <div class="section">
            <div class="heading-how-it">How It Works</div>
            <div class="background-wrapper">
              <div class="background-7">
                <img class="img-2" src="img/home-check-svg.svg" />
                <p class="nonprofits-around">
                  Nonprofits around the world apply and join<br />Secure Aid to access more funding, to<br />build new
                  skills, and to make important<br />connections.
                </p>
                <div class="nonprofits">NONPROFITS</div>
              </div>
            </div>
            <div class="link-23">
              <div class="background-7">
                <img class="img-2" src="img/home-gift-svg.svg" />
                <p class="people-like-you-give">
                  People like you give to your favorite<br />projects; you feel great when you get<br />updates about
                  how your money is put to<br />work by trusted organizations.
                </p>
                <div class="donors">DONORS</div>
              </div>
            </div>
            <div class="link-24">
              <div class="background-7">
                <img class="img-2" src="img/home-buildings-svg.svg" />
                <p class="generous-companies">
                  Generous companies and their employees<br />further support high-impact projects with<br />donations
                  and grants, helping local<br />communities thrive.
                </p>
                <div class="companies">COMPANIES</div>
              </div>
            </div>
            <div class="link-25">
              <div class="background-7">
                <img class="img-2" src="img/home-globe-svg.svg" />
                <p class="nonprofits-have-the">
                  Nonprofits have the funding they need to<br />listen to feedback and try out new ways to<br />work;
                  communities all over the globe get<br />more awesome!
                </p>
                <div class="our-impact">OUR IMPACT</div>
              </div>
            </div>
          </div>
          <div class="section-2">
            <div class="paragraph-background">
              <div class="text-wrapper-22">5</div>
              <div class="text-wrapper-23">years</div>
              <div class="text-wrapper-24">$1M</div>
              <div class="text-wrapper-25">dollars</div>
              <div class="text-wrapper-26">1M+</div>
              <div class="text-wrapper-27">donors</div>
              <div class="text-wrapper-28">30K+</div>
              <div class="text-wrapper-29">projects</div>
              <div class="text-wrapper-30">100+</div>
              <div class="text-wrapper-31">countries</div>
              <div class="text-wrapper-32">500</div>
              <div class="text-wrapper-33">companies</div>
            </div>
            <div class="border-2"></div>
            <p class="text-wrapper-34">Future Stats in the next 5 years</p>
          </div>
        </div>
        <div class="section-3">
          <div class="overlap-4">
            <div class="overlap-5">
              <div class="text-wrapper-35">Secure Aid connects</div>
              <div class="link-26"><div class="text-wrapper-36">nonprofits</div></div>
              <div class="text-wrapper-37">,</div>
              <div class="link-27"><div class="text-wrapper-38">donors</div></div>
              <div class="text-wrapper-39">, and</div>
              <div class="link-28"><div class="text-wrapper-40">companies</div></div>
              <p class="help-fellow">
                help fellow nonprofits access the funding, tools, training, and support they need to serve their<br />communities.
              </p>
            </div>
            <p class="in-nearly-every">in nearly every country in the world. We</p>
          </div>
          <div class="link-29">
            <div class="border-3"></div>
            <div class="learn-more">LEARN MORE</div>
          </div>
        </div>
        <div class="section-4">
          <div class="overlap-6">
            <div class="text-wrapper-41">Secure Aid makes it</div>
            <div class="strong">
              <p class="text-wrapper-42">easy to donate to reliable,</p>
              <div class="text-wrapper-43">locally-led disaster relief</div>
            </div>
            <p class="and-recovery-efforts">and recovery efforts around</p>
          </div>
          <div class="text-wrapper-44">the world.</div>
          <div class="heading">
            <div class="text-wrapper-45">Disaster Recovery</div>
            <div class="horizontal-divider"></div>
          </div>
          <div class="link-30">
            <div class="border-4"></div>
            <div class="learn-more">LEARN MORE</div>
          </div>
          <div class="container-3">
            <div class="overlap-group-wrapper">
              <div class="overlap-group-2">
                <div class="link-31"></div>
                <div class="background-3">
                  <div class="link-9"><div class="sudan">SUDAN</div></div>
                  <div class="heading-link-2"><div class="text-wrapper-9">Sudan Emergency Fund</div></div>
                </div>
              </div>
            </div>
            <div class="overlap-wrapper">
              <div class="overlap-group-2">
                <div class="link-32"></div>
                <div class="background-3">
                  <div class="haiti-wrapper"><div class="haiti">HAITI</div></div>
                  <div class="heading-link-6"><div class="text-wrapper-46">Haiti Crisis Relief Fund</div></div>
                </div>
              </div>
            </div>
            <div class="background-8">
              <div class="overlap-group-2">
                <div class="link-33"></div>
                <div class="background-3">
                  <div class="turkey-wrapper"><div class="turkey">TURKEY</div></div>
                  <div class="heading-link-7">
                    <p class="text-wrapper-47">Turkey and Syria Earthquake Relief Fund</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="background-9">
              <div class="overlap-group-2">
                <div class="link-34"></div>
                <div class="background-3">
                  <div class="libya-wrapper"><div class="libya">LIBYA</div></div>
                  <div class="heading-link-8"><div class="text-wrapper-48">Libya Flood Relief Fund</div></div>
                </div>
              </div>
            </div>
          </div>
          <img class="screenshot" src="img/screenshot-2024-07-21-163931-1.png" />
        </div>
        <div class="section-5">
          <p class="we-ve-made-it">
            <span class="span">We&#39;ve made it possible for </span>
            <span class="text-wrapper-49">companies to support local causes around the world</span>
            <span class="span"
              >. We help<br />companies expand their philanthropic footprint with global nonprofit vetting,
              grantmaking,<br />and digital campaigns to power cause marketing, disaster response, and employee
              giving.</span
            >
          </p>
          <div class="heading-2">
            <div class="text-wrapper-50">Our Corporate Partners</div>
            <div class="horizontal-divider-2"></div>
          </div>
          <div class="overlap-7">
            <div class="link-35">
              <div class="overlap-group-3">
                <div class="border-5"></div>
                <div class="link-paints"></div>
                <div class="view-all-companies">VIEW ALL COMPANIES</div>
              </div>
            </div>
            <img class="image" src="img/image-1.png" />
          </div>
        </div>
        <div class="section-6">
          <div class="heading-news-wrapper"><div class="heading-news">News</div></div>
          <div class="link-36">
            <div class="julybonusday-jpg"></div>
            <div class="paragraph-background-2">
              <p class="boost-your-gift-on">
                <span class="text-wrapper-51">Boost Your Gift<br /></span>
                <span class="text-wrapper-52"
                  >On July Bonus Day, $100+ gifts get a match.<br />Bigger gifts, bigger matches!</span
                >
              </p>
              <div class="give-now">GIVE NOW   ›</div>
            </div>
          </div>
          <div class="link-37">
            <div class="goforgood-png"></div>
            <div class="paragraph-background-2">
              <p class="go-for-good-this">
                <span class="text-wrapper-51">Go for Good<br /></span>
                <span class="text-wrapper-52"
                  >This Summer Olympics, explore how the<br />power of sports is transforming communities.</span
                >
              </p>
              <div class="explore-now">EXPLORE NOW   ›</div>
            </div>
          </div>
          <div class="link-38">
            <div class="poweroffood-jpg"></div>
            <div class="paragraph-background-2">
              <p class="taste-the-change">
                <span class="text-wrapper-51">Taste the Change!<br /></span>
                <span class="text-wrapper-52">Explore global recipes from inspiring change<br />makers.</span>
              </p>
              <div class="download-now">DOWNLOAD NOW   ›</div>
            </div>
          </div>
        </div>
        <div class="section-form">
          <p class="text-wrapper-53">Get incredible stories, promotions, and matching offers in your inbox</p>
          <div class="input"><input class="container-4" placeholder="you@example.com" type="email" /></div>
          <button class="button">
            <div class="overlap-group-4">
              <div class="border-6"></div>
              <div class="button-paints"></div>
              <div class="subscribe">SUBSCRIBE</div>
            </div>
          </button>
        </div>
        <footer class="footer">
          <div class="background-10">
            <div class="container-5">
              <div class="group-2">
                <img class="group-3" src="img/group-1-1.png" />
                <div class="text-wrapper-54">Secure Aid</div>
              </div>
              <p class="secure-aid-makes-it">
                Secure Aid makes it easy and safe for you to give to local projects<br />anywhere in the world, while
                providing nonprofits with the tools,<br />training, and support they need to thrive.
              </p>
              <div class="link-39">
                <div class="overlap-group-5">
                  <div class="border-7"></div>
                  <div class="link-paints-2"></div>
                  <div class="help-center">HELP CENTER</div>
                </div>
              </div>
            </div>
            <div class="horizontal-divider-3"></div>
            <div class="nav-2">
              <div class="heading-link-9"><div class="text-wrapper-55">Donors</div></div>
              <div class="link-40"><div class="text-wrapper-56">Donate in Honor</div></div>
              <div class="link-41"><p class="text-wrapper-57">Project of the Month Club</p></div>
              <div class="link-42"><div class="text-wrapper-58">Start a Fundraiser</div></div>
              <div class="heading-link-10"><div class="text-wrapper-59">Nonprofits</div></div>
              <div class="link-43"><div class="text-wrapper-60">Start an Application</div></div>
              <div class="link-44"><div class="text-wrapper-61">Why Join?</div></div>
              <div class="link-45"><div class="text-wrapper-62">Handbook</div></div>
              <div class="pricing-fees-wrapper"><div class="pricing-fees">Pricing &amp; Fees</div></div>
              <div class="heading-link-11"><div class="text-wrapper-63">Companies</div></div>
              <div class="link-46"><div class="text-wrapper-64">Our Services</div></div>
              <div class="link-47"><div class="text-wrapper-65">Our Partners</div></div>
              <div class="link-48"><div class="text-wrapper-66">Corporate Gift Cards</div></div>
              <div class="link-49"><div class="text-wrapper-67">GlobalGiving Atlas</div></div>
              <div class="heading-link-12"><div class="text-wrapper-68">About Us</div></div>
              <div class="link-50"><div class="text-wrapper-69">Our Team</div></div>
              <div class="link-51"><div class="text-wrapper-70">Jobs</div></div>
              <div class="link-52"><div class="text-wrapper-71">FAQs</div></div>
              <div class="link-53"><div class="text-wrapper-72">Contact Us</div></div>
              <div class="heading-link-13"><div class="text-wrapper-73">Learn Library</div></div>
              <div class="link-54"><div class="text-wrapper-74">Nonprofit Resources</div></div>
              <div class="link-55"><div class="text-wrapper-75">Corporate Giving Resources</div></div>
              <div class="link-56"><div class="text-wrapper-76">Donor Resources</div></div>
              <div class="link-57"><div class="text-wrapper-77">Success Stories</div></div>
            </div>
            <div class="horizontal-divider-4"></div>
          </div>
          <div class="container-wrapper">
            <div class="container-6">
              <div class="address">
                <div class="overlap-group-6">
                  <div class="text-wrapper-78">© Copyright 2024 Secure Aid</div>
                  <div class="link-58"><div class="text-wrapper-79">Contact Us</div></div>
                </div>
              </div>
              <div class="overlap-8">
                <div class="text-wrapper-80"> ·</div>
                <div class="privacy-wrapper"><div class="privacy">PRIVACY</div></div>
              </div>
              <div class="overlap-9">
                <div class="text-wrapper-80"> ·</div>
                <div class="cookies-wrapper"><div class="cookies">COOKIES</div></div>
              </div>
              <div class="overlap-10">
                <div class="text-wrapper-80"> ·</div>
                <div class="terms-wrapper"><div class="terms">TERMS</div></div>
              </div>
              <div class="overlap-11">
                <div class="text-wrapper-80"> ·</div>
                <div class="pricing-wrapper"><div class="pricing">PRICING</div></div>
              </div>
              <div class="overlap-12">
                <div class="text-wrapper-80"> ·</div>
                <div class="link-59"><div class="text-wrapper-81">API</div></div>
              </div>
              <div class="overlap-13">
                <div class="text-wrapper-80"> ·</div>
                <div class="data-wrapper"><div class="data">DATA</div></div>
              </div>
              <div class="options">
                <div class="container-7"><div class="text-wrapper-82">$ USD</div></div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
